
.spelbord {
    width: 200px;
    height: 200px;
}
.column {
    width: 20px;
    height: 20px;    
    background-color: green;
    display:contents;
    margin: 0;
    padding: 0
}
.snake {
    width: 20px;
    height: 20px;
    background-color: white;
}

.row {
    width: 200px;
    height: 20px;    
    background-color:green;
    margin: 0;
    padding: 0
}
